@import "../Proyecto_3/style/variables.scss";




.ul{
   list-style: none ;
   padding:0;
   display: flex;
   flex-direction: r;
   margin-bottom: $spacing-largo;
   @include breakpoint(md){
       flex-direction: row;
       align-items: center;
       margin-right: calc(0.5rem +#{$spacing-medio});
       margin-bottom: $spacing-largo;

   }
   
}

.ull{
   list-style: none ;
   padding:0;
   display: flex;
   flex-direction: row;
   margin-bottom: $spacing-largo;
   @include breakpoint(md){
       flex-direction: row;
       align-items: center;
       margin-bottom: $spacing-largo;
       margin-right: calc(0.5rem +#{$spacing-medio});
      
      

   }
   
}



