
 .ul{
    list-style: none ;
    padding: 60px;
    display: flex;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    
   
 }


 .ull{
    list-style: none ;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
   
 }

 .div{
    width: 1000px;
    height: 500px;

li{
   width: 150px;
   height: 100px;
}
 }